@font-face {
	font-family: 'iA Writer Quattro';
	src: url('./assets/fonts/iAWriterQuattroV.ttf') format('truetype');
	font-weight: 1 999;
}

@font-face {
	font-family: 'Fraunces';
	src: url('./assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
		format('truetype');
	font-weight: 1 999;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------ */

:root {
	--lighterGreen: #defbe9;
	--lightGreen: #acf0c5;
	--green: #7edfa2;
	--darkGreen: #57ca82;
	--darkerGreen: #37b164;
	--lighterBlue: #3782cf;
	--lightBlue: #0e6ed2;
	--blue: #0655a9;
	--darkBlue: #044487;
	--darkerBlue: #033468;
	--alt-lighterBlue: #def2fa;
	--alt-lightBlue: #abd9ea;
	--alt-blue: #7bbbd4;
	--alt-darkBlue: #539bb6;
	--alt-darkerBlue: #347d99;
	--lighterBrown: #d4baa3;
	--lightBrown: #ab8d73;
	--brown: #856950;
	--darkBrown: #67492f;
	--darkerBrown: #543419;
	--lighterPink: #e382b5;
	--lightPink: #d35698;
	--pink: #c1357e;
	--darkPink: #ae1465;
	--darkerPink: #88084b;
	--alt-lighterPink: #fddfec;
	--alt-lightPink: #f7b1ce;
	--alt-pink: #ee86b2;
	--alt-darkPink: #e26197;
	--alt-darkerPink: #d0407d;
	--lighterPurple: #bbb4d4;
	--lightPurple: #8d81b3;
	--purple: #675997;
	--darkPurple: #45367a;
	--darkerPurple: #291b5c;
	--alt-lighterPurple: #e1e5fb;
	--alt-lightPurple: #b2bbee;
	--alt-purple: #8794db;
	--alt-darkPurple: #6170c2;
	--alt-darkerPurple: #4252a7;
	--lightest: #fefefe;
	--lighter: #e6e7eb;
	--light: #ccced3;
	--gray: #a1a0a0;
	--dark: #625a5d;
	--darker: #28282f;
	--darkest: #14141d;
}

html {
	box-sizing: border-box;
	font-family: 'iA Writer Quattro', sans-serif;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.grid {
	display: grid;
	grid-template-columns:
		[viewport-start] minmax(2em, 1fr)
		[container-start] minmax(0, 30em) [container-end]
		minmax(2em, 1fr) [viewport-end];
	gap: 1em;
}
.item--contained {
	grid-column: container;
}
.item--full {
	grid-column: viewport;
	display: inherit;
	grid-template-columns: inherit;
}
.item--full > * {
	grid-column: container;
}

body {
	background: var(--lightest);
	background-image: url('./assets/images/patterns/light-1.png');
	background-repeat: repeat;
}

header {
	font-size: 1.5rem;
	font-weight: 600;
	/* padding: 1rem 0; */
	color: var(--light);
	background: var(--darkest);
	background-image: url('./assets/images/patterns/dark-1.png');
	background-size: cover;
}

#blurb {
	font-family: 'Fraunces', serif;
	font-size: 1.65rem;
	font-weight: 900;
	line-height: 2.25rem;
	text-align: center;
	padding: 1rem;
	background: #fefefecc;
}

#blurb a {
	text-decoration: none;
	font-size: 1.65rem;
}

.pinkBackground {
	background: var(--lighterPink);
	padding: 4px;
}

.purpleBackground {
	background: var(--lighterPurple);
	padding: 4px;
}

.blueBackground {
	background: var(--lighterBlue);
	padding: 4px;
}

a {
	font-size: 1.25rem;
	color: black;
}

a:active {
	color: black;
}

a:hover {
	color: blue;
}

a span:hover {
	color: blue;
}

a:visited {
	color: black;
}

footer {
	font-size: 0.75rem;
	background-image: linear-gradient(
		30deg,
		#c1357e 0% 40%,
		#675997 40% 60%,
		#0655a9 60% 100%
	);
}

/* body > * {
	border: 1px solid #333;
} */

@media (max-width: 480px) {
	body {
		/* How might we account for landscape view? */
		margin-bottom: 120px;
	}
	footer {
		position: fixed;
		height: 120px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
		border-top: 1px double #14141d;
		border-top-left-radius: 50%;
		display: grid;
		place-items: center;
	}
}

header {
	display: grid;
	place-items: center;
	min-height: 3.5rem;
}

header > h1 {
	font-size: 1rem;
	font-weight: 900;
}

main {
	margin-top: 0;
	padding-top: 0 !important;
}

footer {
	margin: 0;
}

#blurb img {
	margin: 0 1rem 1rem 0 !important;
}

section {
	scroll-margin-top: 40px;
	word-wrap: break-word;
	font-size: 1.5rem;
	padding: 1rem;
	background: #fefefecc;
}

nav {
	padding: 1rem;
	background: #fefefecc;
}
